/* Mobile Frame Dimensions */
.mobile-frame {
  position: relative;
  width: 375px;
  height: 667px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.back-button {
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 10px;
}

/* Header */
.mobile-header {
  height: 60px;
  background-color: #eeb5eb;
}

/* Mobile Content Scrollable */

.mobile-content {
  overflow-y: hidden; 
  overflow-x: hidden; 
  padding: 10px;
  max-height: calc(100% - 120px); 
  width: 100%; 
}

/* Footer */
.mobile-footer {
  height: 60px;
  font-size: 24px;
  background-color: #eeb5eb;
}

.icon {
  cursor: pointer;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
  color: #3cacae;
}

.logo {
  max-width: 25%;
  height: auto;
}

.group-profile {
  position: absolute; /* Positioned relative to the .mobile-simulator container */
  top: 10px; /* Distance from the bottom of the container */
  right: 17px; /* Distance from the right side of the container */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.group-name {
  align-items: center;
  justify-content: center;
  color: #ffffff;
  top: "15px";
}
