/* Mobile Frame Dimensions */
.mobile-frame {
  position: relative;
  width: 375px;
  height: 667px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}

/* Header */
.mobile-header {
  height: 60px;
  background-color: #eeb5eb;
}

/* Mobile Content Scrollable */
.mobile-content {
  overflow-y: hidden; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  padding: 10px;
  max-height: calc(100% - 120px); /* Adjust for header and footer heights */
  width: 100%; /* Ensure it stays within the frame */
}

/* Footer */
.mobile-footer {
  height: 60px;
  font-size: 24px;
  background-color: #eeb5eb;
}

.icon {
  cursor: pointer;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon:hover {
  transform: scale(1.2);
  color: #3cacae;
}

.logo {
  max-width: 25%;
  height: auto;
}
