.help-icon {
  background-color: rgb(110, 0, 173);
  color: #ecdfeb;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.2s;
}

.help-icon:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
  background-color: #3cacae; /* Lighten the background on hover */
}

.form-items {
  font-size: 13px;
  margin-right: 2px;
}

.uniform-width {
  width: 100%;
  max-width: 300px; /* Adjust as needed */
}

.custom-button {
  background-color: rgb(110, 0, 173);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  margin-left: 20px;
}

.custom-button:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
  background-color: #9fe7ed; /* Lighten the background on hover */
  color: white;
}

.scrollable-form {
  max-height: 425px; /* Adjust based on container */
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 12px; /* Space for scrollbar */
}

.scrollable-form::-webkit-scrollbar {
  width: 8px;
}

.scrollable-form::-webkit-scrollbar-thumb {
  background-color: rgb(110, 0, 173);
  border-radius: 3px;
}

.scrollable-form::-webkit-scrollbar-thumb:hover {
  background: #ac00b6;
}



.form-label {
  font-size: 16px;
  margin-bottom: 8px;
}


.mandatory-warning-modal,
.tooltip-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding: 20px;
  background-color: #ecdfeb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
}

