.challenge-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  max-height: 94vh;
}

.challenge-page h1 {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100px;
  font-size: 23px;
  text-align: center;
  color: white;
  background-color: #7A55C6;
  align-content: center;
  justify-content: center;
  padding: 20px;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  color: white;
  z-index: 9999;
}

.progress-bar {
  position: relative;
  top: 130px;
  width: 80%;
  height: 15px;
  background-color: #e0e0e0;
  border-radius: 10px;
  justify-self: center;
  display: flex;
}

.modal-button {
  min-width: 120px; /* Regola la dimensione minima */
  padding: 10px 20px; /* Espande il contenuto */
}


.progress {
  height: 100%;
  background-color: #1edba9;
  border-radius: 10px;
}

.time-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  color: #555;
  font-weight: bold;
  white-space: nowrap;
}

.question-number {
  font-size: 16px;
  font-weight: bold;
}

/* Question Text */
.challenge-page p {
  font-size: 20px;
  margin-bottom: 20px;
}
.answer-option {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
  background-color: #dddddd5d;
}

.answer-option:hover {
  background-color: #f0f8ff;
  border-color: #0056b3;
}

/* Correct answer - Green background */
.correct-answer {
  background-color: #d4edda !important;
  border-color: #155724 !important;
  color: #155724 !important;
}

/* Wrong answer - Red background */
.wrong-answer {
  background-color: #f8d7da !important;
  border-color: #721c24 !important;
  color: #721c24 !important;
}

/* Question container */
.question-answers {
  padding: 22px;
  background-color: white;
  border-radius: 10px;
  margin: 10px 10px 0;
}

input[type="radio"] {
  margin-right: 10px;
}

/* Modal */
.myModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%; /* Prevents it from getting too wide */
  max-height: 90vh; /* Prevents it from exceeding screen height */
  overflow-y: auto; /* Enables scrolling if content is too long */
}

/* Feedback Styles */
.myModal.correct {
  border: 1px solid #155724;
  background: #d4edda;
  color: #155724;
}

.myModal.incorrect {
  border: 1px solid #721c24;
  background: #f8d7da;
  color: #721c24;
}


/* Text Styling */
.feedbackType {
  font-weight: bold;
  margin-bottom: 1rem;
}

.text-left {
  text-align: left;
}

.encouragementMessage {
  font-weight: bold;
  margin-bottom: 10px;
}