/* Contenitore principale per centrare il contenuto */
.group-page {
  display: flex;
  flex-direction: column;
  
  position: relative;
}

.group-card {
  background: linear-gradient(135deg, #7b54d1, #a77ffc);
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  position: relative;
  height: 240px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra per un effetto di profondità */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-radius: 0% 0% 40% 0%;
}

.group-card span {
  color: #a47cba;
  font-size: 0.9rem;
  font-weight: bold;
}

.group-card-title {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1rem;
  border-radius: 8px;
  font-size: 30px;
}

/* Sezione dei tasti di azione */
.action-buttons {
margin-top: 22px;
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 10px;
  justify-content: center;
  align-self: center;
  padding: 1rem 1rem 1rem 1rem;
}

.action-buttons button {
  font-size: 24px;
  height: 120px;

}

.action-btn {
  background-color: #6a5acd;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  letter-spacing: 0.5px;
  outline: none;
}

.chat-btn {
  background: linear-gradient(135deg, #1cb982 50%, #1edba9);
  /* background: #7A55C6; */
  border-radius: 20px;
  padding: 10%;
  font-size: 17px;
  font-weight: bold;
}


.chat-btn svg {
  margin-right: 10px;
}

/* Pulsante Challenge */
.challenge-btn {
  font-weight: bold;
  background: linear-gradient(135deg, #63a6fd 50%, #88c1fe);
  /* background: #7A55C6; */
  border-radius: 20px;
  padding: 10%;
  font-size: 17px;
}

.challenge-btn svg {
  margin-right: 10px;
}

/* Pulsante Materials */
.materials-btn {
  background: linear-gradient(135deg, #ffa94b 50%, #fccf79);
  font-weight: bold;
  border-radius: 20px;
  padding: 10%;
  font-size: 17px;
}


.materials-btn svg {
  margin-right: 10px;
}


/* Adattamento per dispositivi piccoli */
@media screen and (max-width: 768px) {
  .action-buttons {
    flex-direction: column;
    gap: 15px;
  }

  .action-btn {
    width: 100%;
    padding: 14px 0;
    margin-bottom: 15px;
  }
}

/* Aggiungi questo in fondo al CSS esistente */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal-content h3 {
  color: #51009c;
  margin-bottom: 20px;
}

.modal-content label {
  display: block;
  margin: 10px 0 5px;
  color: #333;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;

}

.modal-content button {
  margin: 5px;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.info-icon {
  color: white;
  margin: 12px 6px;
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
}
.info-icon.bar {
  top: 10px;
  right: 10px;
}
.info-icon.setting {
  top: 10px;
  right: 50px;
}

.modal-content label {
  text-align: left;
}