/* Contenitore principale per centrare il contenuto */
.group-page {
  max-height: 720px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.group-card {
  background: linear-gradient(135deg, #51009c, #6d0092);
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  width: 100%;
  max-width: 600px;
  height: 180px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra per un effetto di profondità */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.group-card-title {
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 10px 20px;
  border-radius: 8px;
}

/* Sezione dei tasti di azione */
.action-buttons {
  display: flex;
  flex-direction: column; 
  width: 100%; 
  max-width: 600px; 
  margin: 0 auto; 
  
}

.action-btn {
  background-color: #6a5acd;
  color: white;
  border: none;
  border-radius: 50px; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  letter-spacing: 0.5px;
  outline: none;
} 

.chat-btn {
  background: linear-gradient(135deg, #306f2a, #77e47b);
  border-radius: 20px;
  padding: 10%;
  font-size: 17px;
}

.chat-btn:hover {
  background: linear-gradient(135deg, #25b22c, #295a2b); /* Verde più scuro al passaggio del mouse */
}

.chat-btn svg {
  margin-right: 10px;
}

/* Pulsante Challenge */
.challenge-btn {
  background: linear-gradient(135deg, #230e9a, #7cc0fb);
  border-radius: 20px;
  padding: 10%;
  font-size: 17px;
}

.challenge-btn:hover {
  background: linear-gradient(135deg,#61a8e6, #230e9a);

}

.challenge-btn svg {
  margin-right: 10px;
}

/* Pulsante Materials */
.materials-btn {
  background: linear-gradient(135deg, #ed6509, #f3d16d); /* Arancione */
  border-radius: 20px;
  padding: 10%;
  font-size: 17px;
}

.materials-btn:hover {
  background: linear-gradient(135deg,#fbc46c, #e5640e); 
}

.materials-btn svg {
  margin-right: 10px;
}


/* Effetto focus per l'accessibilità */
.action-btn:focus {
  box-shadow: 0 0 0 2px rgba(106, 92, 205, 0.8);
}

.leave-group {
  bottom: 0%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #b70000;
}

.confirm-btn{
  background-color: #6e00ad;
}

.cancel-btn{
  background-color: #6e00ad;
}



/* Adattamento per dispositivi piccoli */
@media screen and (max-width: 768px) {
  .action-buttons {
    flex-direction: column;
    gap: 15px;
  }

  .action-btn {
    width: 100%;
    padding: 14px 0;
    margin-bottom: 15px;
  }

}
