.home-page-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999; /* Below notifications but above everything else */
}

.notifications-container h5 {
  background-color: #6e00ad;
  color: #fff; 
  font-size: 17px;
  font-weight: bold;
  margin: 0; 
  padding: 2px; 
}

.notifications-container {
  position: fixed;
  top: 30px;
  left: 40px;
  width: 310px;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  transition: opacity 0.4s ease, transform 0.4s ease, max-height 0.4s ease;
  z-index: 1000;
}

.notifications-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}

.notifications-container.show .notifications-content {
  max-height: 300px;
  opacity: 1;
}

/* When notifications should disappear */
.hide-notifications {
  opacity: 0;
  transform: translateY(-10px);
  max-height: 0;
  overflow: hidden;
  pointer-events: none; /* Prevents interaction when hidden */
}


.notifications-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffd079;
  color: #2c2c2c;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.notifications-header div {
  color:#2c2c2c;
}

.notif-badge {
  background-color: #2c2c2c;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;
}

.group-item.mine {
  margin: 7px 25px;
  padding: 6px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.my-groups-container {
  position: fixed;
  width: 100%;
  background: linear-gradient(135deg, #a77ffc, #7b54d1);
  border-radius: 0px 230px 0% 0%;
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: 90vh;
  max-height: 90vh;
  overflow-y: auto;
}

.my-groups-container h5 {
  padding: 12px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
}

.my-groups-container ul {
  list-style: none;
  padding-left: 0;
}

.my-groups-container li {
  padding: 10px;
  background-color: #f4f4f4;
  margin-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.notification {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 4px;
  margin: 5px;
  background: #f4f4f4;
  transition: transform 0.3s ease, opacity 0.3s ease;
  will-change: transform, opacity;
}

.notification-left {
  flex-shrink: 0;
}

.group-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.notification-right {
  display: flex;
  flex-direction: column;
}

.notification-group-name {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.notif-text {
  font-size: 12px;
  color: #666;
}


.notif-text {
  color: #333;
}

.my-group-info .group-level {
  color: #333;
}

.notification-group-name {
  font-weight: bold;
  width: 200px;
}


.header-group {
  display: flex;
  align-items: center;
  justify-content: center; /* Centers content horizontally */
  position: relative; /* Needed for the absolute positioning of FaArrowLeft */
}

.logo {
  cursor: pointer;
}


.notifications-content.show {
  max-height: 300px; 
  opacity: 1;
}

.create-button {
  font-weight: bold;
  padding: 10px 20px;
  background-color: #19D4A0;
  color: white;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;

}


.create-container.group {
  right: 20px;
  bottom: 75px;
  position: fixed;
}