.images-page {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Consente lo scroll verticale per il contenitore */
  height: 100vh; /* Usa tutta l'altezza della finestra */
  padding: 20px;
  max-height: 550px;
  align-items: center; /* Centra orizzontalmente */
  overflow-x: hidden; /* Impedisce lo scroll orizzontale se non necessario */
}

.page-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.back-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  color: white;
  z-index: 9999;
}
.images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adatta automaticamente le immagini */
  gap: 20px; /* Distanza tra le immagini */
  width: 100%; /* Occupazione della larghezza completa */
  max-height: 80vh; /* Limita l'altezza della griglia per mantenere lo scroll */
  overflow-y: auto; /* Consente lo scroll verticale se il contenuto è troppo lungo */
  padding-right: 10px; /* Piccola distanza a destra per evitare lo scroll orizzontale */
}

.image-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi una leggera ombra */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.image-card:hover {
  transform: scale(1.05); /* Scala l'immagine al passaggio del mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Ombra più scura al passaggio del mouse */
}

.image-thumbnail {
  width: 100%;
  height: auto; /* Imposta l'altezza automatica per mantenere il rapporto di aspetto */
  object-fit: cover; /* Copre l'area senza distorcere l'immagine */
  display: block; /* Rimuove piccoli spazi sotto l'immagine */
}

.image-details {
  padding: 15px;
  background-color: #fff;
  text-align: center;
}

.image-details p {
  margin: 0;
  font-size: 1rem;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Evita che il testo vada a capo */
}

/* Adattamenti per schermi più piccoli */
@media (max-width: 768px) {
  .images-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Colonne più strette su schermi piccoli */
    gap: 15px;
  }

  .image-thumbnail {
    height: 150px; /* Adatta l'altezza delle miniature */
  }

  .image-details {
    padding: 10px;
  }

  .image-details p {
    font-size: 0.9rem;
  }
}
