.tooltip-container {
  position: relative;
  display: inline-block;
}

.dialog-box {
  position: fixed;
  bottom: 220px;
  left: 60px;
  background: #fafafa; /* Sfondo più chiaro (avorio chiaro) */
  border: 1px solid #ddd; /* Bordo più chiaro e sottile */
  border-radius: 12px;
  padding: 10px;
  width: 220px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Ombra più leggera */
}

.dialog-content {
  font-size: 14px;
  font-weight: bold;
  color: #333; /* Colore del testo più morbido */
}

.dialog-tail {
  position: absolute;
  bottom: -12px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid #fafafa; /* Colore della coda che si adatta al box */
}


.cat {
  position: fixed;
  bottom: 150px;
  left: 40px;
  color:#7A55C6;
}

.animated-cat {
  position: fixed;
  bottom: 0px;
  left:0px;
}