.profile-card {
  font-family: Poppins, sans-serif;
  background-color: #f0f8ff; /* Azzurro chiaro */
  width: 100%;
  max-width: 400px; /* Limitare la larghezza della card */
  margin: 20px auto; /* Centra la card */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi ombra per evidenziare la card */
  overflow: hidden;
}

.profile-header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgb(110, 0, 173); 
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
  border: 5px solid white; /* Bordo bianco per contrasto */
}

.profile-info h1 {
  margin: 0;
  font-size: 24px;
  color: white; /* Testo bianco per contrasto */
}

.profile-university {
  font-size: 14px;
  font-style: italic;
  color: white; /* Testo bianco per contrasto */
}

.profile-body {
  padding: 16px;
  background-color: white; /* Sfondo bianco per i dettagli */
}

.profile-detail {
  font-size: 14px;
  color: #333;
  margin-bottom: 15px; /* Spaziatura tra i dettagli */
}

.profile-detail strong {
  color: rgb(110, 0, 173); /* Colore forte per i titoli */
  font-size: large;
}

.sld-list {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
  color: #333;
}