.scrollable-cards {
  display: flex;
  gap: 10px;
  overflow-x: auto; /* Horizontal scroll */
  white-space: nowrap; /* Ensure cards stay inline */
  padding: 10px 0;
  width: 100%;
}

.scrollable-cards::-webkit-scrollbar {
  height: 6px;
}

.scrollable-cards::-webkit-scrollbar-thumb {
  background: #3cacae;
  border-radius: 4px;
}

.scrollable-cards::-webkit-scrollbar-thumb:hover {
  background: #c26dbc;
}

.vertical-scrollable {
  max-height: 300px; /* Adjust based on container */
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px; /* Space for scrollbar */
}

.vertical-scrollable::-webkit-scrollbar {
  width: 8px;
}

.vertical-scrollable::-webkit-scrollbar-thumb {
  background-color: #3cacae;
  border-radius: 4px;
}

.vertical-scrollable::-webkit-scrollbar-thumb:hover {
  background: #c26dbc;
}

.group-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.group-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.group-content {
  flex-grow: 1;
  margin-left: 10px;
}

.floating-icon-row {
  background-color: #c26dbc;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.2s;
}

  .floating-icon-row:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
    background-color: #9fe7ed; /* Lighten the background on hover */
  }

  .filter-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .filters-dropdown-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
  }
  
  .filter-dropdown {
    margin-bottom: 10px;
  }
  
  .filter-dropdown select {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
.floating-icon-row:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
  background-color: #9fe7ed; /* Lighten the background on hover */
}


.help-icon {
  background-color: #c26dbc;
  color: #ecdfeb;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.2s;
}

  .help-icon:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
    background-color: #3CACAE; /* Lighten the background on hover */
  }