/* Global styles for the body and HTML */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Impedisce l'overflow globale della pagina */
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; /* Aggiungi questo per evitare overflow in tutta la pagina */
}

.search-page-content {
  flex: 1;
  overflow: auto; /* Permette lo scroll solo nella sezione dei contenuti */
}

/* Scrollable cards layout */
.scrollable-cards {
  display: flex;
  gap: 10px;
  overflow-x: auto; /* Horizontal scroll */
  white-space: nowrap; /* Ensure cards stay inline */
  padding: 10px 0;
  width: 100%;
  flex-shrink: 1; /* Prevents it from taking more space than necessary */
}

.scrollable-cards::-webkit-scrollbar {
  height: 8px;
}

.scrollable-cards::-webkit-scrollbar-thumb {
  background: rgb(110, 0, 173);
  border-radius: 4px;
}

.scrollable-cards::-webkit-scrollbar-thumb:hover {
  background: #ac00b6;
}

/* Vertical scrollable container */
.vertical-scrollable {
  max-height: 300px; /* Adjust based on container */
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px; /* Space for scrollbar */
}

.vertical-scrollable::-webkit-scrollbar {
  width: 8px;
}

.vertical-scrollable::-webkit-scrollbar-thumb {
  background-color: rgb(110, 0, 173);
  border-radius: 4px;
}

.vertical-scrollable::-webkit-scrollbar-thumb:hover {
  background: #ac00b6;
}

/* Group row with flexbox */
.group-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

/* Group profile image */
.group-profile-search {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Group content area */
.group-content {
  flex-grow: 1;
  margin-left: 10px;
}

/* Filter button style */
.filter-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Filters dropdown container */
.filters-dropdown-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 8px;
}

.filter-dropdown {
  margin-bottom: 10px;
}

.filter-dropdown select {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

