/* General Styles */

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #2c2c2c; /* Stile comune per i titoli */
}

.group-name {
  font-size: 0.9rem;
  font-weight: 600;
  color: #343a40;
  margin-top: 3px; /* Specifico solo se necessario */
}

.group-level {
  font-size: 0.7rem;
  font-weight: 400;
  color: #6c757d;
  margin-top: 2px;
}

.list-unstyled li {
  padding: 5px 8px; /* Ridotto rispetto ai 10px originali */
  border-bottom: 1px solid #ddd; /* Manteniamo il separatore */
  transition: background-color 0.2s ease;
}

.list-unstyled li:last-child {
  border-bottom: none; /* Rimuoviamo la linea sotto l'ultimo elemento */
}

.list-unstyled li img {
  width: 35px; /* Ridotto rispetto ai 50px originali */
  height: 35px; /* Ridotto rispetto ai 50px originali */
  margin-right: 8px; /* Margine ridotto */
}

.card-body {
  padding-bottom: 8px; /* Minore spazio inferiore per chiudere visivamente */
  padding-top: 8px; /* Minore spazio superiore per coerenza */
}

/* Quando la tendina delle notifiche è chiusa, la sezione dei gruppi si espande */
.expanded-groups {
  height: calc(100% - 50px); /* Espande la sezione al massimo dello spazio disponibile */
}

.collapsed-groups {
  height: calc(100% - 150px); /* Lascia spazio per la tendina delle notifiche */
}

/* Optional: aggiungi un'animazione fluida */
.expanded-groups,
.collapsed-groups {
  transition: height 0.3s ease-in-out;
}

.btn-sm {
  background-color: #6e00ad; /* Colore coerente con il tema */
  border: none;
  border-radius: 15px; /* Forma arrotondata più compatta */
  padding: 5px 15px; /* Dimensioni ridotte */
  font-size: 0.8rem; /* Testo più piccolo */
  font-weight: 600;
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-sm:hover {
  background-color: #ac00b6; /* Colore più chiaro al passaggio */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Effetto ombra al passaggio */
}

.d-flex.justify-content-center {
  margin-top: 5px; /* Margine più discreto */
}