/* Scrollable List */
.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-body {
  padding: 15px;
}

.card-header {
  font-weight: bold;
  background-color: #3cacae;
}

/* Floating + Icon */
.floating-icon {
  position: fixed;
  background-color: #c26dbc;
  color: white;
  position: absolute; /* Positioned relative to the .mobile-simulator container */
  bottom: 80px; /* Distance from the bottom of the container */
  right: 169px; /* Distance from the right side of the container */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.2s;
}

.floating-icon:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
  background-color: #9fe7ed; /* Lighten the background on hover */
}

.group-labels {
  background-color: #c8f4f9;
}

body {
  font-family: "Quicksand", sans-serif; /* Default font */
}

/* Group Name */
.group-name {
  font-size: 0.95rem; /* Larger font size for group name */
  font-weight: 600; /* Bold font weight */
  color: #343a40; /* Dark gray for better readability */
}

/* Group Level */
.group-level {
  font-size: 0.7rem; /* Smaller font size for the level */
  font-weight: 400; /* Regular font weight */
  color: #6c757d; /* Lighter gray for a subtle look */
}

/* Card Header */
.card-header {
  font-size: 1.1rem; /* Slightly larger for emphasis */
  font-weight: 600;
}

/* General List Styling */
ul.list-unstyled {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.groups-expanded {
  transition: all 0.3s ease;
  /* Adjust spacing or padding if needed */
}

.group-item-expanded {
  height: 150px; /* Adjust to desired size */
  transition: height 0.3s ease;
}

.form-items {
  font-size: 13px;
  margin-right: 2px;
}

.uniform-width {
  width: 100%;
  max-width: 300px; /* Adjust as needed */
}

.custom-button {
  background-color: #c26dbc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  margin-left: 20px;
}

.custom-button:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
  background-color: #9fe7ed; /* Lighten the background on hover */
  color: white;
}



.scrollable-page {
  max-height: 425px; /* Adjust based on container */
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 12px; /* Space for scrollbar */
}

.scrollable-page::-webkit-scrollbar {
  width: 5px;
}

.scrollable-page::-webkit-scrollbar-thumb {
  background-color: #3cacae43;
  border-radius: 3px;
}

.scrollable-page::-webkit-scrollbar-thumb:hover {
  background: #c26dbc;
}
