
.notification {
  padding: 8px 0;
  border-bottom: 1px solid #e9ecef; 
}

.notification-card {
  font-size: 0.85rem; /* Riduce la dimensione del testo */
  padding: 10px; /* Riduce il padding */
}

.notification-card-body {
  padding: 5px 10px; /* Ridotto il padding */
  font-size: 0.85rem; /* Ridotta la dimensione del testo */
  width: auto; /* Puoi specificare una larghezza se necessario */
  height: auto; /* Oppure una altezza specifica */
}


.notification:last-child {
  border-bottom: none; 
}

.group-labels {
  background-color: #e2e3e5; 
  font-size: 10px;
  font-weight: 500;
  padding: 4px 5px;
  border-radius: 7px;
}

.notif-text {
  font-size: 13px;
  font-weight: 500;
}

.table {
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}
